*{
    box-sizing: border-box;
}
body{
    margin: 0vw;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(0, 225, 255);
    padding: 2vw;
    text-align: center;
    font-size: 3vw;
    color: white;
}
section{
    margin: 0vw;
    background-color: rgb(201, 236, 245);
}
nav{
    float: left;
    width: 20%;
    height: auto; /*only for demonstration, should be removed*/
    background: rgb(201, 236, 245);
    padding: 20px;
}
ul{
    list-style: none;
    text-align: center;
    padding: 0vw;
}
nav ul li a{
    text-decoration: none;
    display: block;
    color: rgb(10, 47, 82);
    padding: 1vw;
}
nav ul li a:hover{
    color: white;
    background-color: rgb(6, 218, 247);
}
article{
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: auto
}
section::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: rgb(0, 225, 255);
    padding: 10px;
    text-align: center;
    color: white;
}
p{
    text-align: justify;
    padding: 10px
}
form{
    padding: 0.5vw;
}
table{
    float: left;
    width: 40vw;
}
td{
    padding: 1vw;
    width: 100px;
}
input, textarea{
    border-radius: 3px;
    padding: 0.5vw;
    background-color: rgba(206, 244, 250, 0.651);
}
.textbox{
    width: 100%;
}
.btn{
    width: 100%;
}
@media (max-width: 600px) {
    nav, article, img {
        width: 100%;
        height: auto;
    }
}