<nav class="navbar navbar-expand-md bg-secondary navbar-dark fixed-top">
  <a href="#" class="navbar-brand">ngx-bootstrap</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" aria-details="" data-target="#ngxnav" aria-controls="ngxnav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="ngxnav">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">ngx-bootstrap</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="accordion">Accordion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="alert">Alert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="carousel">Carousel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dd">Dropdown</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="modal">Modal</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
  </div>
</nav>
