<div class="col-10 col-md-6 p-3 mx-auto shadow rounded">
  <h3 class="h3">Log In</h3>
  <div class="form-group">
    <label for="umail">Email</label>
    <input type="email" name="umail" [(ngModel)]="user.email" placeholder="Enter email" class="form-control">
  </div>
  <div class="form-group">
    <label for="upass">Password</label>
    <input type="password" name="upass" [(ngModel)]="user.password" placeholder="Enter password" class="form-control">
  </div>
  <div class="form-group text-light">
    <button type="button" class="btn btn-primary mr-3" on-click="onLogin()" >Login</button>
    <button type="button" class="btn btn-warning text-light" on-click="onReg()">Register on FireStore</button>
  </div>
  <div class="form-group">
    <a routerLink="../forgot-password">forgot password</a>
  </div>
</div>
