<div class="row">
  <div class="col-md-6 col-12 rounded shadow mx-auto py-3">
    <div class="row">
      <div class="col-12 col-md-12">
        <h4>Name : {{user.name}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <p>Email : {{user.email}}</p>
      </div>
      <div class="col-12 col-md-12">
        <p>Gender : {{user.gender}}</p>
      </div>
      <div class="col-12 col-md-12">
        <p>Phone : {{user.phone}}</p>
      </div>
      <div class="col-12 col-md-12">
        <a routerLink="../edit-user" class="btn btn-outline-info">Update Profile</a>
      </div>
    </div>
  </div>
</div>
